lessons/xsd/content.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="conceptType">
    <xs:annotation>
      <xs:documentation>
        A concept loosely correlates to a Common Core Concept.  See conceptType for list of valid concepts and DOCUMENT for a description of each.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="conceptName" maxOccurs="1" minOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="RatioTable"/>
              <xs:enumeration value="UnitRatios"/>
              <!-- Can we get a formal list of these to populate this from? -->
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="filterName" maxOccurs="1" minOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="RatioTable:IntsBottomOnlyFilter"/>
              <xs:enumeration value="UnitRatios:SimpleFractionsOnlyFilter"/>
              <!-- Can we get a formal list of these to populate this from? -->
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="problemset">
    <xs:annotation>
      <xs:documentation>
        A problem set is a set of problems of the same type, using the same interface.  For example, an exercise is a problem set.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="conceptType" maxOccurs="1" minOccurs="1"/>
        <xs:element name="problems" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="problem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="state" type="xs:string" maxOccurs="1" minOccurs="1"/>
                    <xs:element name="layout" type="xs:string" maxOccurs="1" minOccurs="1"/>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="adaptation" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="mastery" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="maxProblems" type="xs:string" maxOccurs="1" minOccurs="1"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="assignment">
    <xs:annotation>
      <xs:documentation>
        An assignment is a collection of ProblemSets.  An example of an assignment is Assessment and Practice.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="problemset"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="lesson">
    <xs:complexType>
      <xs:all>
        <xs:element name="pages" type="xs:string" maxOccurs="1" minOccurs="1"/>
        <xs:element name="standards" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="standard" type="xs:string" minOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="objectives" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="objective" type="xs:string" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="prerequisites">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="prerequisite">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="modules" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="module" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="teacher-text" type="xs:string" />
                      <xs:element name="exercise">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="description" type="xs:string" />
                            <xs:element ref="problemset"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ap" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element ref="assignment" maxOccurs="1" minOccurs="1"/>
              <xs:element name="description" type="xs:string" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="extensions" minOccurs ="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element ref="assignment"/>
              <xs:element name="description" type="xs:string" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="vocabulary" minOccurs ="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="termdefinition">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="term" type="xs:string" />
                    <xs:element name="definition" type="xs:string" />
                    <xs:element name="example" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
